html
  head
    link(rel='stylesheet', href='../style.css')
div
  h1 #{name}
  ul
    - for (var val = 0; val < teamDir.length; val++)
      //- - if (teamDir[val] == '2848%20⚡%20ALL%20SPARKS%20⚡')
      //-   - var link = "http://localhost:8000/colorado/2848%20%E2%9A%A1%20ALL%20SPARKS%20%E2%9A%A1/";
      //- - if (teamDir[val] != '2848%20⚡%20ALL%20SPARKS%20⚡')
      - var link = `http://localhost:8000/${event}/${teamDir[val]}/data.html`;
      a.inner(class='button' href=link) #{teamDir[val]}